html body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 98%);
}

.navbar-brand {
    font-family: 'Baloo Chettan 2', cursive;
}

.nav-link:hover {
    color: #e9ecef !important;
}

.box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.card:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
    color: #ffffff !important;
    background: #6c757d;
}
