{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 mt-5">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card text-center  box-element border-light">
                        <div class="card-body">
                            <h3 class="card-title">Food</h3>
                            <h4 class="card-text">5</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-12 col-lg-3 mt-5">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card text-center  box-element border-light">
                        <div class="card-body">
                            <h3 class="card-title">Food</h3>
                            <h4 class="card-text">5</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-12 col-lg-3 mt-5">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card text-center  box-element border-light">
                        <div class="card-body">
                            <h3 class="card-title">Food</h3>
                            <h4 class="card-text">5</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-3 mt-5">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card text-center  box-element border-light">
                        <div class="card-body">
                            <h3 class="card-title">Food</h3>
                            <h4 class="card-text">5</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-3 mt-5">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card text-center  box-element border-light">
                        <div class="card-body">
                            <h3 class="card-title">Food</h3>
                            <h4 class="card-text">5</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-3 mt-5">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card text-center  box-element border-light">
                        <div class="card-body">
                            <h3 class="card-title">Food</h3>
                            <h4 class="card-text">5</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}