{% extends 'base.html' %}
{% block content %}
    <div class="container bg-white box-shadow mt-5">
        <div class="row">
            <div class="table-responsive">
                <table class="table  table-bordered align-top">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>House Name</th>
                        <th>Locality</th>
                        <th>Requirements</th>
                        <th>Phone</th>
                        <th>Remark</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for member in members %}
                        <tr>
                            <td class="col-1 col-ld-2">{{ member.name }}</td>
                            <td class="col-1 col-lg-2">{{ member.locality }}</td>
                            <td class="col-1 col-lg-2">{{ member.locality }}</td>
                            <td class="col-1 col-lg-1">
                                {% for requirment in member.need.requirement.all %}
                                    {{ requirment }}
                                {% endfor %}
                            </td>
                            <td class="col-1 col-lg-1">{{ member.phone }}</td>
                            <td class="col-7 col-lg-4">{{ member.remark }}</td>
                            <td class="col-1 col-lg-1"><a href="#" class="btn btn-primary">View</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}